<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xlab.world.xlab">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1d6c9613095811f16055a8cb96703ef9686a3310" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1866904940202203"
            android:exported="true" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <!-- TODO: Service -->
        <service android:name=".utils.fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- TODO: Activities -->
        <activity
            android:name=".view.preload.PreloadActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/customNoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/kakaolink_host"
                    android:scheme="@string/kakao_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.onBoarding.OnBoardingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/customNoActionBarTheme" />
        <activity
            android:name=".view.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/customNoActionBarTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.register.LocalRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/customNoActionBarTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.register.SocialRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/customNoActionBarTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.resetPassword.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/customNoActionBarTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/customNoActionBarTheme" />
    </application>

</manifest>